.wd-profile-avatar-format {
    width: 45px;
    height: 45px;
}
.wd-margin-body {
    left: 55px;
}
.wd-profile-icon-format {
    width: 45px;
}
.wd-review-check-format {
    width: 30px;
}
.wd-thumbs-up-five-star-format {
    width: 45px;
}
.wd-min-width-100 {
    min-width: 100%;
}
.wd-gold-star-format {
    width: 21px;
}