.App {
  text-align: center;
}

.wd-search-scroll-div {
  overflow-y: scroll;
  height: fit-content;
  max-height: 250px;
  display: block;
  border-radius: 0;
}

.wd-search-bar-input:focus {
  outline: none;
}

@font-face {
  font-family: "Art Nuvo";
  src: url("../public/fonts/FontsFree-Net-Art-nuvo.ttf");
}

.wd-art-nuvo {
  font-family: "Art Nuvo", sans-serif;
}

.wd-bgImg-format {
  object-fit: fill;
  height: 100vh;
}